/* CSS reset with box-sizing fix */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea,
input,
input[type="text"],
input[type="tel"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: unset; }

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #2e3a50;
  font-size: 22px;
  line-height: 1.3;
  background: url(../images/bg-body.png) top center/100% 100% no-repeat; }

strong {
  font-weight: bold; }

a {
  text-decoration: unset; }

input,
select {
  outline: unset; }

button,
input[type=submit] {
  border: unset;
  outline: unset;
  cursor: pointer; }

.theme-btn {
  display: block;
  height: 55px;
  padding: 1.4em 4em;
  text-transform: uppercase;
  font: 900 14px Montserrat;
  letter-spacing: 0.2px;
  color: #fff9e8;
  background: linear-gradient(to right, #2e3a50 0%, #2e3a50 50%, #6fa0bf 50%, #6fa0bf 100%); }

.theme-form input:not([type=submit]),
.theme-form select {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 7%;
  border: 1px solid #2e3a50;
  background: transparent;
  text-transform: uppercase;
  font: 900 14px Montserrat;
  letter-spacing: 0.2px;
  font-weight: normal; }

.theme-form input::placeholder {
  color: #2e3a50; }

.theme-form select {
  position: relative;
  padding: 0 7%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(../images/arrow-select.png) 90% center/9px 7px no-repeat; }
  .theme-form select option {
    background-color: transparent; }

main > section {
  width: 100%;
  padding-bottom: 130px; }

.layout-wrapper {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto; }

.content-wrapper {
  display: flex;
  align-items: flex-start; }

.items-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap; }

.section-title {
  margin: 130px 0 75px;
  text-transform: uppercase;
  text-transform: uppercase;
  font: 900 40px Montserrat;
  letter-spacing: 0.2px;
  line-height: 1.1; }

.popup-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10; }
  .popup-overlay.active {
    visibility: visible; }

.popup {
  position: relative;
  width: 728px;
  margin: auto;
  background: #f7f7f7;
  box-shadow: 0px 7px 90px 0px rgba(0, 0, 0, 0.07); }
  .popup .popup-title {
    margin: 0 auto 40px;
    text-align: center;
    text-transform: uppercase;
    font: bold 45px/1.1 Montserrat; }
  .popup .popup-caption {
    max-width: 430px;
    margin: 0 auto 50px;
    text-align: center; }
  .popup .popup-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 90px auto 100px; }
  .popup .theme-form {
    max-width: 426px;
    width: 426px; }
    .popup .theme-form .items-container {
      flex-direction: column; }
    .popup .theme-form .item {
      width: 100%;
      margin-bottom: 20px; }
      .popup .theme-form .item:last-child {
        max-width: 312px;
        margin: 10px auto 0; }
  .popup .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer; }
    .popup .close-btn img {
      width: 30px;
      height: auto;
      margin: auto; }

#thanksPopup .popup-title {
  line-height: 1.5; }
  #thanksPopup .popup-title p {
    font-size: 20px; }

#thanksPopup .popup-caption {
  margin-bottom: 0; }

section.home {
  overflow: hidden;
  background: url(../images/home-bg.jpg) center/cover no-repeat; }

header {
  max-width: 1255px;
  margin: 25px auto 50px; }
  header .items-container {
    justify-content: space-between;
    align-items: center; }
  header p {
    text-align: right;
    text-transform: uppercase;
    font: 900 14px Montserrat;
    letter-spacing: 0.2px; }

.banner {
  display: flex;
  flex-flow: row nowrap;
  color: #fff; }
  .banner .items-container {
    position: relative; }
  .banner .theme-container {
    position: absolute;
    top: 110px;
    width: 744px;
    padding: 80px 0 80px 97px;
    background-color: #8bccef;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }
    .banner .theme-container::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 104px;
      display: block;
      width: 88px;
      height: 3px;
      background-color: #2e3a50; }
  .banner h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-transform: uppercase;
    font: 900 40px Montserrat;
    letter-spacing: 0.2px;
    line-height: 1.2; }
  .banner p {
    margin: 50px 0; }
  .banner img {
    margin-left: auto;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }

section.video {
  padding-bottom: 200px; }
  section.video .section-title {
    margin-left: 97px;
    max-width: 1000px; }
  section.video .video-container {
    position: relative; }
    section.video .video-container .video {
      z-index: 1;
      position: relative;
      border: 20px solid #fff9e8;
      width: 1250px;
      height: 630px;
      background: url(../images/poster-video.jpg) center/cover no-repeat;
      box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }
      section.video .video-container .video iframe {
        display: none;
        height: 100%;
        width: 100%; }
      section.video .video-container .video .play-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        background: url(../images/icon-play.jpg) center/contain no-repeat; }
    section.video .video-container .video-shadow {
      position: absolute;
      top: 80px;
      left: 97px;
      width: 1250px;
      height: 630px;
      background-color: #8bccef;
      box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1);
      z-index: 0; }

section.profit .description-container {
  flex-basis: 50%;
  padding-left: 97px; }
  section.profit .description-container .section-title {
    max-width: 465px;
    margin: 50px 0 60px; }
  section.profit .description-container p {
    max-width: 500px;
    margin-bottom: 68px; }

section.profit img {
  box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }

section.question {
  background: url(../images/question-bg.jpg) top center/100% 72% no-repeat;
  padding: 135px 0 180px; }
  section.question .section-title {
    margin: 0 0 135px 97px;
    max-width: 1000px; }
  section.question .theme-container {
    z-index: 0;
    position: relative;
    padding: 0 97px 100px;
    background-color: #8bccef;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }
  section.question .items-container:not(.sub-item) {
    align-items: stretch;
    justify-content: space-between; }
    section.question .items-container:not(.sub-item) > .item {
      width: 47%;
      margin-top: -70px; }
  section.question .sub-item {
    overflow: hidden;
    padding: 65px 0 85px;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }
    section.question .sub-item .number-container {
      position: relative;
      margin-left: -9%;
      text-transform: uppercase;
      font: 900 140px Montserrat;
      letter-spacing: 0.2px;
      line-height: 0.8; }
      section.question .sub-item .number-container .number {
        z-index: 1;
        position: relative;
        font-weight: 900; }
      section.question .sub-item .number-container .number-shadow {
        position: absolute;
        top: -9px;
        right: -19px;
        color: #fff; }
    section.question .sub-item .title {
      margin-left: 10%;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff; }
    section.question .sub-item .description {
      max-width: 440px;
      margin: 30px 0 0 60px;
      font-size: 16px;
      color: #fff; }
  section.question .sub-item-1 {
    background: url(../images/question-bg-1.jpg) center/cover no-repeat;
    margin-bottom: 70px; }
  section.question .sub-item-2 {
    background: url(../images/question-bg-2.jpg) center/cover no-repeat; }
    section.question .sub-item-2 .description {
      max-width: 400px; }
  section.question .theme-container .item:last-child {
    display: flex; }
  section.question .sub-item-3 {
    align-content: flex-end;
    background: url(../images/question-bg-3.jpg) center/cover no-repeat; }
    section.question .sub-item-3 .description {
      max-width: 418px; }
  section.question .theme-btn {
    position: relative;
    margin: -28px auto 0; }

section.julia .image-container {
  position: relative;
  padding-left: 97px; }
  section.julia .image-container img {
    z-index: 1;
    position: relative;
    border: 20px solid #fff9e8;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1); }
  section.julia .image-container .image-shadow {
    position: absolute;
    top: 80px;
    left: 0;
    width: 607px;
    height: 776px;
    box-shadow: 27px 34px 44px 0px rgba(0, 0, 0, 0.1);
    background-color: #8bccef;
    z-index: 0; }

section.julia .description-container {
  flex-basis: 46%;
  padding-left: 97px; }
  section.julia .description-container .section-title {
    max-width: 500px;
    margin: 50px 0 25px; }
  section.julia .description-container h4 {
    margin-bottom: 38px;
    text-transform: uppercase;
    font-size: 22px; }
  section.julia .description-container p {
    max-width: 500px;
    margin-bottom: 68px; }

section.places .section-title {
  margin-left: 97px; }

section.places .items-container {
  justify-content: space-between;
  padding: 0 97px; }
  section.places .items-container .item {
    width: 47%;
    background-color: #8bccef; }

section.places .top-block {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  margin: 45px 0 45px; }
  section.places .top-block .number-container {
    position: relative;
    margin-left: -10px;
    text-transform: uppercase;
    font: 900 140px Montserrat;
    letter-spacing: 0.2px;
    line-height: 0.8; }
    section.places .top-block .number-container .number {
      z-index: 1;
      position: relative;
      font-weight: 900; }
    section.places .top-block .number-container .number-shadow {
      position: absolute;
      top: -9px;
      right: -19px;
      color: #fff; }
  section.places .top-block .month {
    margin-left: 10px;
    text-transform: uppercase;
    font: 900 40px Montserrat;
    letter-spacing: 0.2px; }
  section.places .top-block .city {
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; }

section.places .building {
  margin-left: 50px;
  text-transform: uppercase;
  color: #fff; }

section.places .theme-btn {
  margin: 70px 0 -28px 50px; }

section.form {
  overflow: hidden;
  background: url(../images/form-bg.jpg) center/cover no-repeat; }
  section.form .layout-wrapper {
    padding: 0 97px; }
  section.form .section-title {
    margin-bottom: 0; }
  section.form .note {
    margin: 50px 0; }
  section.form .items-container {
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px; }
  section.form .item {
    width: 21.5%;
    position: relative; }

footer {
  padding: 100px 0;
  background-color: #2e3a50; }
  footer .items-container {
    align-items: center;
    justify-content: space-between; }
  footer h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font: 900 40px Montserrat;
    letter-spacing: 0.2px;
    color: #fff; }
  footer .socials {
    justify-content: space-between; }
    footer .socials a {
      display: flex;
      width: 80px;
      height: 80px;
      margin-right: 40px;
      background: #8bccef; }
      footer .socials a:hover img {
        transform: scale(1.1); }
      footer .socials a img {
        margin: auto;
        transition: transform .3s; }
  footer .links {
    text-align: right;
    text-transform: uppercase;
    color: #fff; }
    footer .links > a {
      display: block;
      margin-bottom: 20px; }
    footer .links a {
      color: #fff;
      font-weight: bold; }
      footer .links a:hover {
        text-decoration: underline; }
