main>section {
    width: 100%;
    padding-bottom: 130px;
}

.layout-wrapper {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
}

.items-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

.section-title {
    margin: 130px 0 75px;
    text-transform: uppercase;
    @include important-text(40px);
    line-height: 1.1;
}