footer {
    padding: 100px 0;
    background-color: #2e3a50;

    .items-container {
        align-items: center;
        justify-content: space-between;
        max-width: 1170px;
        margin: 0 auto;
    }

    .section-title {
        margin: 0 0 30px 0;
        color: #fff;
    }

    .socials {
        justify-content: space-between;


        a {
            display: flex;
            width: 80px;
            height: 80px;
            margin-right: 40px;
            background: $theme-color;

            &:hover .social-image {
                transform: scale(1.1);
            }

            &:last-child {
                margin: 0;
            }

            .social-image {
                object-fit: contain;
                margin: auto;
                transition: transform .3s;
            }

        }
    }

    .links {
        text-align: right;
        text-transform: uppercase;
        color: #fff;

        >a {
            display: block;
            margin-bottom: 20px;
        }

        a {
            color: #fff;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

    }
}