section.home {
    overflow: hidden;
    background: url(../images/home-bg.jpg) center/cover no-repeat;
}

header {
    max-width: 1170px;
    margin: 25px auto 50px;

    .items-container {
        justify-content: space-between;
        align-items: center;
    }

    p {
        text-align: right;
        @include important-text(14px);
    }

}

.banner {
    display: flex;
    flex-flow: row nowrap;
    color: #fff;

    .items-container {
        position: relative;
    }


    .theme-container {
        position: absolute;
        top: 110px;
        width: 55%;
        padding: 80px 0 80px $theme-indent;
        background-color: $theme-color;
        @include theme-shadow;

        &::before {
            content: '';
            position: absolute;
            left: -30px;
            top: 104px;
            display: block;
            width: 88px;
            height: 3px;
            background-color: #2e3a50;
        }
    }

    h1 {
        margin-bottom: 50px;
        text-transform: uppercase;
        @include important-text(40px);
        line-height: 1.2;
    }

    p {
        margin: 50px 0;
    }

    .home-image {
        margin-left: auto;
        @include theme-shadow;
    }
}