section.places {

    .section-title {
        margin-left: $theme-indent;
    }

    .items-container {
        justify-content: space-between;
        padding: 0 $theme-indent;

        .item {
            width: 47%;
            background-color: $theme-color;
        }
    }

    .top-block {
        overflow: hidden;
        display: flex;
        align-items: baseline;
        margin: 45px 0 45px;

        .number-container {
            position: relative;
            margin-left: -10px;
            @include important-text(140px);
            line-height: 0.8;

            .number {
                z-index: 1;
                position: relative;
                font-weight: 900;
            }

            .number-shadow {
                position: absolute;
                top: -9px;
                right: -19px;
                color: #fff;
            }
        }

        .month {
            margin-left: 10px;
            @include important-text(40px);
        }

        .city {
            margin-left: 50px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

    }

    .building {
        margin-left: 50px;
        text-transform: uppercase;
        color: #fff;
    }




    .theme-btn {
        margin: 70px 0 -28px 50px;
    }
}