section.profit {
    .items-container {
        justify-content: space-between;
    }

    .description-container {
        flex-basis: 50%;
        padding-left: $theme-indent;

        .section-title {
            max-width: 465px;
            margin: 50px 0 60px;
        }

        p {
            max-width: 500px;
            margin-bottom: 68px;
        }
    }

    .profit-image {
        @include theme-shadow;
    }
}