$section-indent: 70px;

section.question {
    background: url(../images/question-bg.jpg) top center/100% 72% no-repeat;
    padding: 135px 0 180px;

    .section-title {
        margin: 0 0 135px $theme-indent;
        max-width: 1000px;
    }

    .theme-container {
        z-index: 0;
        position: relative;
        padding: 0 $theme-indent 100px;
        background-color: $theme-color;
        @include theme-shadow;
    }

    .items-container:not(.sub-item) {
        align-items: stretch;
        justify-content: space-between;

        >.item {
            width: 47%;
            margin-top: -$section-indent;
        }
    }

    .sub-item {
        overflow: hidden;
        padding: 65px 0 85px;
        @include theme-shadow;

        .number-container {
            position: relative;
            margin-left: -9%;
            @include important-text(140px);
            line-height: 0.8;

            .number {
                z-index: 1;
                position: relative;
                font-weight: 900;
            }

            .number-shadow {
                position: absolute;
                top: -9px;
                right: -19px;
                font-weight: normal;
                color: #fff;
            }
        }

        .title {
            max-width: 60%;
            margin-left: 10%;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }

        .description {
            max-width: 440px;
            margin: 30px 0 0 60px;
            font-size: 16px;
            color: #fff;
        }
    }

    .sub-item-1 {
        background: url(../images/question-bg-1.jpg) center/cover no-repeat;
        margin-bottom: $section-indent;

        .title {
            max-width: 60%;
        }
    }

    .sub-item-2 {
        background: url(../images/question-bg-2.jpg) center/cover no-repeat;

        .title {
            max-width: 56%;
        }

        .description {
            max-width: 400px;
        }
    }

    .theme-container .item:last-child {
        display: flex;
    }

    .sub-item-3 {
        align-content: flex-end;
        background: url(../images/question-bg-3.jpg) center/cover no-repeat;

        .title {
            max-width: 60%;
        }

        .description {
            max-width: 418px;
        }
    }

    .theme-btn {
        position: relative;
        margin: -28px auto 0;
    }
}