section.video {
    padding-bottom: 200px;

    .section-title {
        margin-left: $theme-indent;
        max-width: 1000px;
    }

    .video-container {
        position: relative;

        #video,
        .video-shadow {
            width: 92.4%;
            height: 630px;
        }

        #video {
            z-index: 1;
            position: relative;
            border: 20px solid #fff9e8;

            background: url(../images/poster-video.jpg) center/cover no-repeat;
            @include theme-shadow;


            iframe {
                height: 100%;
                width: 100%;
            }

            .play-video {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                margin: -50px 0 0 -50px;
                background: url(../images/icon-play.jpg) center/contain no-repeat;
            }
        }

        .video-shadow {
            position: absolute;
            top: 80px;
            left: $theme-indent;
            background-color: $theme-color;
            @include theme-shadow;
            z-index: 0;
        }
    }
}